<% layout('layout') -%>

<div class="jumbotron col-sm-6 pull-center">
    <form action="/add" method="post">
        <div>
            <label>Add Notes</label>
            <textarea rows="4" cols="50" name="content">
                Add your notes here!
                </textarea>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Add"/>
        </div>
    </form>
</div>