<html>
    <head>
        <title><%= title %></title>
        <% include ../partials/head.ejs %>
    </head>
    <body class="container">
        <div class="page-header">
            <h1><%= heading %></h1>
        </div>
        <% include ../partials/navbar.ejs %>
        <div class="container row">
            <%- body %>
        </div>
        <% include ../partials/footer.ejs %>
    </body>
</html>